{
  "extends": "react-app",
  "globals": {
    "cy": true,
    "Cypress": true
  },
  "rules": {
    "import/no-anonymous-default-export": "off"
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2021
  }
}
