.menuWrapper {
  position: fixed;
  z-index: 9999;
  background: #161A30;
  font-size: 14px;
  max-width: 300px;
  min-width: 150px;
  font-family: "Segoe UI", Helvetica, sans-serif;
  outline: none;
  box-shadow: 1px 3px 6px 2px rgba(23, 26, 48, 0.35);
  border: 1px solid #242B45;
  border-radius: 4px;

  touch-action: pan-x pan-y;
}

.menuHeader {
  padding: 6px;
  border-bottom: 1px solid #2E3A59;
  display: flex;
  flex-direction: column;
}

.menuLabel {
  margin: 0;
  color: #C6CEE0;
  font-size: 13px;
  font-weight: 600;
}

.optionsWrapper {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.menuFilter {
  border: none;
  background: none;
  height: 24px;
  flex: 1 1 auto;
  width: 100%;
  outline: none;
  color: #C6CEE0;

  &::placeholder {
    font-style: italic;
  }
}

.option {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 6px;
  border-bottom: 1px solid #2E3A59;
  color: #C6CEE0;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background: #242B45;
  }

  label {
    margin-bottom: 3px;
    user-select: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    margin: 0;
    font-style: italic;
    font-size: 12px;
    color: #8A8B93;
    user-select: none;
  }

  &[data-selected="true"] {
    background: #242B45;
  }
}

.emptyText {
  color: #C6CEE0;
  padding: 6px;
}
