.wrapper {
  display: flex;
  flex-direction: column;
}

.outputs {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  padding: 8px 1px 8px 0;
  background: rgba(0, 0, 0, 0.15);

  & > * + * {
    margin-top: 4px
  }

  & > .transput {
    width: 7px;
    height: 16px;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  padding: 8px 0 8px 1px;
  background: rgba(0, 0, 0, 0.15);

  & > * + * {
    margin-top: 4px
  }

  & > .transput {
    width: 7px;
    height: 16px;
  }
}

.inner {

}

.controls {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.portLabel {
	font-size: 13px;
	font-weight: 400;
	width: 100%;
}

.port {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;

  background: #50505C;
  border: 1px solid rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  border-radius: 8px;

  & * {
    pointer-events: none;
  }
}
