.wrapper {
  display: flex;
  flex-direction: column;
}

.outputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  align-items: center;
  height: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  align-items: center;
  height: 100%;
  right: 0;
  & > * + * {
    margin-top: 4px;
  }
}

table.inner {
  border: none;
  margin: 0 0 4px;
  padding: 0;
  width: max-content;
  border-spacing: 0;
  color: inherit;

  & > tbody > tr {
    & > td {
      padding: 0;
      margin: 0;
    }

    & > td.portLabel {
      padding-left: 4px;
      font-weight: 600;
      font-size: 10px;
      line-height: 10px;
      max-width: 80px;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    & > td.controls {
      max-width: 184px;
      display: flex;
      flex-wrap: wrap;
      padding-right: 4px;

      & > * {
        float: left;
        display: inline-block;
        width: 60px;
        overflow-x: hidden;
      }
    }
  }
}

.port {
  width: 8px;
  height: 8px;

  box-sizing: border-box;
  border-radius: 8px;
  padding: 0;
  margin: 0;

  & * {
    pointer-events: none;
  }
}

.controlWrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  max-width: 250px;
  min-width: 200px;
  padding: 1px 5px 1px 5px;
  border: none;
  border-spacing: 0;
  color: inherit;

  font-size: 10px;
  line-height: 10px;
}
